body{
    background-image: url(/imagens/Sem\ título.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.lista{
    margin-left: 20%;
    margin-top: 30%;
    font-size: xx-large;
}

#gif{
    transform: rotate(15deg);
    margin-top: -50px;
    margin-left: 430px;
}
    
